flowinquiry-docker/caddy
flowinquiry-docker/volumes
.frontend.env
.backend.env
.backend.env.bak
flowinquiry-k8s/app/build
flowinquiry-k8s/.gradle
flowinquiry-k8s/build

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/.terraform.lock.hcl
terraform/*.pem
terraform/terraform.tfvars
terraform/*.auto.tfvars
